html {
    scroll-behavior: smooth;
}

body {
    background: url(https://wallpaperaccess.com/full/1657858.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    border-radius: 10px;
    background-color: rgb(105, 105, 105);
    box-shadow: 0 0 20px rgba(0, 0, 1);
    border: none;
    margin: 10px auto;
    padding: 5px;
    max-width: 60%;
    color: white;
    text-align: center;

}

#home h2 {
    color: #ffffff;
    font-family: 'Vollkorn SC', serif;
    text-decoration: double;
    background-color: #303030;
    border-radius: 10px;
}
#home p {
    color: #ffffff;
    font-size: 1.1rem;
    padding: 30px;
    font-family: 'Fredoka', sans-serif;
}
#sec{
    max-width: 100%;
    max-height: 100%;
}

.serv1 {
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: 10px;
    max-width: 70%;
    max-height: 100%;
    margin: auto;
    border: none;
    font-family: 'Fredoka', sans-serif;
}
.serv1 h3{
    color: #ffffff;
    font-family: 'Vollkorn SC', serif;
}
.serv1 p{
    font-size: 1rem;
}
#img1 {
    height: 120px;
    width: 120px;
    margin: 10px;
    border-radius: 60px;
}
#img2{
    align-items: center;
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
}

#service1 {
    background-color: rgb(105, 105, 105);
    box-shadow: 0 0 20px rgba(0, 0, 1);
    border-radius: 10px;
    padding: 5px;
    margin: 30px auto;
    max-width: 80%;
    max-height: 100%;
    border: none;
    display: flex;
}

#go {
    font-weight: bold;
    background-color: aquamarine;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0.5);
    border-radius: 15px;
    width: 60px;
    padding: 6px;
}

#go:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
    background-color: rgb(233, 233, 233);
}

#goto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#abou {
    padding: 5px;
}

.chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#cht {
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb(172, 19, 19);
    padding: 5px 30px;
}
#logi {
    transform: rotate(-90deg);
    position: absolute;
    left: -72px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb(172, 19, 19);
    padding: 8px 35px;
    margin: auto;
    font-family: 'Alkatra', cursive;
}
.loginor{
    position: sticky;
    top: 200px;
    left: -40px;
}
#logi:hover{
    color: black;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    
}
#cht:hover{
    cursor: pointer;
    background-color: rgb(105, 1, 1);
}
#imghelp{
    border-radius: 50px;
    margin:6px 8px;
    height:15px;
    width:15px;
    position: absolute;
}
.desk{
    margin: 2px auto;
    padding: 2px 40px;
}
.new{
    background-color: #052963;
    max-width: 100%;
    display: flex;
}
.desk a{
    padding: 5px;
    text-decoration: none;
    color: white; 
    font-size: 1rem;
    margin-top: 5px;
}
.desk li{
    list-style: none;
    
}
.desk h2{
    padding: 2px;
    font-size: 1.3rem;
    color: white; 
}
.desk a:hover{
    cursor: pointer;
    text-decoration: underline;
    border-radius: 15px;
    background-color: rgb(172, 19, 19);
}
.imp{
    background-color: gray;
    display: flex;
    align-items: center;
    
    max-width: 100%;
}
.imp ul{
    display: flex;  
    margin: auto;
}
.imp ul li a{
        text-decoration: none;
        color: white;
        display: flex;
        border-radius: 20px;
        
}
.imp ul li{
    padding: 10px;
    list-style: none;
}
.imp ul span{
    color: white;
    padding: 10px;
}
.copyRightsText{
    color: #ffffff;
    text-align: center;
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.copyRightsText a{
    color: #2277ff;
}
.swaas{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border: none;
    width: 160px;
    padding: 3px 7px;
    height: 60px;
}
.nic{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border: none;
    width: 160px;
    padding: 3px 7px;

    height: 60px;
}
.digi{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border: none;
    width: 160px;
    padding: 3px 7px;
    height: 60px;
}
.copyRightsLogos{
    justify-content: center;
    max-width: 50%;
    margin: 30px auto;
    display: flex;
    
}
.footer{
    background-color: #161616;
    margin: 0;
    padding: 5px;
}
.our{
    box-shadow: 0 0 5px white;
    background-color: #383838;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 80%;
    margin: auto;
}
.our h1{
    padding: 5px;
    color: white;
    font-family: 'Fredoka', sans-serif;
}
@media only screen and (max-width:790px){
    .new .desk{
        margin: 0px 20px;
        padding: 10px 0px;


    }
    .new{
        display: flex;
        flex-direction: column;
    }
    .imp .impo{
        margin: 0px 20px;
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
    }
    #service1{
        display: flex;
        flex-direction: column;
    }
    .copyRightsLogos{
        text-align: center;
        max-width: 50%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        
    }
}
.ico{
    margin: auto;
    position: absolute;
    right: 0;
    top: 0px;
    height: 30px;
    width: 30px;
    padding: 8px;
    background-color: rgb(0, 0, 34);
    border-top-right-radius: 5px;
}
.ico:hover{
    background-color: rgb(189, 0, 0);
}

#iconclose{
    height: 30px;
    width: 30px;
    margin: auto;
    color: white;
}
#iconclose:hover{
    cursor: pointer;
    color: #000000;
}
#icoclose{
    height: 30px;
    width: 30px;
    margin: auto;
    color: white;
}
#icoclose:hover{
    cursor: pointer;
    color: #000000;
}
.cont{
    position: sticky;
    top: 0px;
}
.signup{
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: 50px auto;
    padding: 20px 15px;
    max-width: 500px;
    align-items: left;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.952);
}
.login{
    display: none;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: 50px auto;
    padding: 20px 15px;
    max-width: 500px;
    align-items: left;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.952);
}
.signup h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 3, 46);
    text-align: center;
    margin: 5px 0;
}
.login h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 3, 46);
    text-align: center;
    margin: 5px 0;
}
.content{
    display: flex;
    flex-direction: column;
}
.check{
    display: flex;
}
#username{
    background-color:rgb(208, 225, 255) ;
    margin: 5px 0;
    padding: 5px;
    max-width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
}
#password{
    background-color:rgb(208, 225, 255) ;
    margin: 5px 0;
    padding: 5px;
    max-width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
}
#user{
    background-color:rgb(208, 225, 255) ;
    margin: 5px 0;
    padding: 5px;
    max-width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
}
#pass{
    background-color:rgb(208, 225, 255) ;
    margin: 5px 0;
    padding: 5px;
    max-width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
}
#confpassword{
    background-color:rgb(208, 225, 255) ;
    margin: 5px 0;
    padding: 5px;
    max-width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
}
#sign{
    background-color:rgb(0, 183, 122) ;
    max-width: 70%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}
#sign:hover{
    background-color: rgb(0, 121, 94);
    box-shadow: 0 0 10px #000000;
    cursor: pointer;
    color: #ffffff;
}
#leb{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(1, 0, 10);
}
.already{
    max-width: 90%;
    margin: 0 auto;
    padding: 5px;
}
.already span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.already span a{
    color: rgb(10, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#but-login{
    color: white;
    background-color:rgb(0, 0, 0) ;
    max-width: 70%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}
#but-login:hover{
    cursor: pointer;
    background-color: #161616;
    box-shadow: 0 0 10px #000000;
}
#but-signup{
    color: white;
    background-color:rgb(0, 0, 0) ;
    max-width: 70%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}
#but-signup:hover{
    cursor: pointer;
    background-color: #161616;
    box-shadow: 0 0 10px #000000;
}
.forget{
    border: 2px solid black;
}
#forgot{
    color: white;
    background-color:rgb(0, 0, 0) ;
    max-width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}
#forgot:hover{
    cursor: pointer;
    background-color: #161616;
    box-shadow: 0 0 10px #000000;
}